@import "../scss/settings/fonts";

.full-screen-bg {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 800px;
  background-image: url(../assets/artist.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
