@import "../scss/settings/fonts";

.press-section {
  padding: 50px 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font-family: $font-r;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    width: 1px;
    word-wrap: break-word;
    white-space: pre-wrap;

    line-height: 48px;
    color: whitesmoke;
  }
}
